.mainContent{
    text-align: center;
}

.right-align{
    justify-content: right;
}

.plot-text{
    color: white;
}

.logo{
    width:50%;
}


body{
    background-color: #414141;
    width: 100%;
    height:100%;
}
.mainContent{
    background-color: #6E6E6E;
    height: 100%;
    width: 100%;
}

.nen-grid-container{
    margin: 0 auto;
    display: inline-block;
    grid-template-columns: repeat (4, auto);
    
    
}
#plotCover{
    width: 25%;
}

.nen-grid-item{
    width:20%;
    float: left;
    margin: 10px;
}



.QuestionForm{
    padding-bottom: 30pt;
}
.faqMain{
    background-color: #1d1d1d;
    height:800px;
    margin: 50px;
    color:#6e6e6e;
}
.question{
    background-color: #6e6e6e;
    height: 20%;
    margin: 30px;
    color: white;
}

.aside{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:gray;

}
.inside{
    width:80%;
    margin:25px;
    border-width: 2pt;
    border-style: solid;
}
.inside:hover{

        opacity: .8;
}
