img{
    width:100%;
}

.archWall{
    width:70%;
    margin:25px;
}
.char{
    width:350px;
    height:350px;

    margin:30px;
}
.wrapper{
    background-color: #414141;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mission{
    height:1000px;
}
.charTitle{
    background-color:black;
    color:green;
    text-align: center;
    font-size: 30px;
    height:45px;
    
}
.imgWrap {
    position: relative;
  }

  .imgdescription {
    position: absolute;
    top: 0;
    bottom: -15px;
    left: 0;
    right: 0;
    background: rgba(25, 25, 25, 0.86);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top:30px;
    font-size: 25px;
    padding:30px;
    transition: opacity .4s, visibility .4s;
  }

  .mainContent{
    text-align: center;
}

.right-align{
    justify-content: right;
}

.plot-text{
    color: white;
}

.logo{
    width:70%;
}
.imgWrap:hover .imgdescription {
    visibility: visible;
    opacity: 1;
  }


body{
    background-color: #414141;
    width: 100%;
    height:100%;
}
.mainContent{
    background-color: #6E6E6E;
    height: 100%;
    width: 100%;
}

.nen-grid-container{
        display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
    
}
#plotCover{
    width: 25%;
    float:left;
    margin:50px;
}
.footer{
    width:100%;
    height:200px;
}

.nen-grid-item{
    width:20%;
    float: left;
    margin: 10px;
}

.respond{
    color: lime;
}

.QuestionForm{
    padding-bottom: 30pt;
    text-align: center;
    background-color: limegreen;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    margin-top:30px;
    opacity: .6;
}
.faqMain{
    background-color: #1d1d1d;
    height:800px;
    margin: 50px;
    color:#6e6e6e;
}
.question{
    background-color: #6e6e6e;
    height: 200px;
    margin: 30px;
    color: white;
}

.aside{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:gray;

}
.inside{
    width:80%;
    margin:25px;
    border-width: 2pt;
    border-style: solid;
}
.inside:hover{

        opacity: .8;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6E6E6E;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(69, 69, 69);}
  
  .dropdown:hover .dropdown-content {display: block;}
  .text{
      text-align: center;
      margin:50px;
  }

  @media screen and (max-width: 479px) {
    .intro{
        margin:25px;
    }
    .nen-grid-item{
        width:100%;
    }
    .navbar-toggler:hover {
        visibility: visible
    }
  
    .arc{
        width:100%;
    }
    .aside{
        grid-auto-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;

    }
    .archWall{
        visibility: hidden;
    }
    #plotCover{
        width: 70%;
    }
    .QuestionForm{
        width:90%;
    }
    .question{
        margin:5px;
        height:400px;
    }
    .faqMain{
        height:100%;
    }
}